[Unit]
Description=HangMan Telegram Bot
After=network.target


[Service]
WorkingDirectory=<your project path>
ExecStart=<your venv path>/bin/hangman-bot
Restart=on-failure


[Install]
WantedBy=multi-user.target
